<h1 class="text-center">Friends List</h1>
<hr>
<div class="text-center">
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer blandit nisl quis nulla finibus, a laoreet dolor congue. Mauris vulputate justo ac iaculis viverra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin laoreet ornare molestie. Vivamus porttitor vulputate ex, ac elementum velit. Integer non odio sagittis, dignissim est ornare, rhoncus nunc. Vivamus hendrerit, est sed convallis euismod, ipsum est egestas arcu, at pharetra lectus neque sit amet tellus. Nullam libero urna, auctor nec ultricies mattis, imperdiet non enim.
	</p>
	~
	<h4 class="font-italic">
		'Lorem Ipsum'
	</h4>
	~
	<br><br>
	<p>
		Suspendisse potenti. Sed ut felis dapibus, laoreet nibh a, volutpat nisl. Quisque in magna dolor. Aliquam suscipit mattis nulla, nec facilisis mi. Integer eleifend lectus eget tellus efficitur interdum. Nullam non aliquam felis. Sed a odio lectus.
	</p>
	<p>
		Duis vel metus augue. Ut nec tempor magna, et viverra tellus. Aliquam ac nisl eget ante imperdiet facilisis. Donec vehicula mi tortor, eu tincidunt tellus luctus vel. Curabitur et porttitor est. Interdum et malesuada fames ac ante ipsum primis in faucibus. In non nisi pharetra, vehicula lacus nec, iaculis leo. Ut condimentum scelerisque velit, nec feugiat nisl aliquet sit amet. Vivamus vel vehicula erat. Etiam volutpat nulla non neque vestibulum congue. Integer commodo dignissim enim in ultrices. Nam porttitor tempor faucibus. Aenean quis libero et mauris sodales maximus. Etiam tincidunt tincidunt turpis, eu eleifend enim venenatis vel. Suspendisse pharetra dapibus mauris eu posuere. Praesent malesuada ligula eu elit condimentum, et semper risus dictum.
	</p>
</div>